:root {
  --rosa-neon: rgba(255, 0, 153, 1);
  --blue-neon: rgba(5, 217, 232, 1);
  --green-neon: rgba(117, 241, 217, 1);
  --purple-neon: rgba(123, 4, 235, 1);
  --green-neon: rgba(222, 254, 71, 1);
  --bg-blue: rgba(100, 253, 250, 1);
  --bg-preto: rgba(73, 50, 64, 1);
  --bg-escuro: rgba(18, 4, 88, 0.5);
  --branco: rgba(226, 221, 223, 1);
  --tempo-menu: 300ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: none;
  position: absolute;
  top: 500px;
}

body {
  background-image: url(../imagens/bg-cy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: var(--bg-blue);

}

.logo {
  max-width: 4rem;
  max-height: 4rem;
  background-color: var(--purple-neon);
}

header {
  display: block;
  background: var(--rosa-neon);
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.corpo {
  display: block;
  position: absolute;
  top: 4rem;
  width: 100%;
}

.portfolio h2 {
  text-align: center;
  padding-bottom: 1rem;
  text-decoration: underline;
}

li {
  padding-top: 1rem;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--blue-neon);
}

.portfolio {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 5rem);
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;
  /*position: relative; */
  background-color: var(--bg-escuro);
  border-radius: 1rem;
  box-shadow: 0.5em 0.5em 1em var(--blue-neon),
    inset 0 0 1em var(--blue-neon);
}

.trabalhos {
  overflow: hidden;
  padding-top: 1rem;
}

.portfolio img {
  float: none;
  padding: 2rem;
  max-height: 50%;
  max-width: 50%;
}

.portfolio ul>* {
  text-shadow: 1px 1px 10px currentColor;
}

.portfolio li>a {
  color: var(--rosa-neon);
  padding-top: 1rem;
}

/* .portfolio::before,
.portfolio::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(-45deg,
      var(--rosa-neon),
      var(--blue-neon),
      var(--purple-neon));
  border-radius: 1rem;
  background-size: 400%;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  z-index: -1;
  animation: movimentar 4s linear infinite;
} 

@keyframes movimentar {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
} 

.portfolio::after {
  filter: blur(40px);
  opacity: .5;
}
*/
.menu {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu_btn,
.menu_btn::before,
.menu_btn::after {
  display: block;
  background: var(--blue-neon);
  height: 4px;
  width: 2em;
  border-radius: 5px;
  position: relative;
  transition: all var(--tempo-menu) ease-in-out;
  -webkit-transition: all var(--tempo-menu) ease-in-out;
  -moz-transition: all var(--tempo-menu) ease-in-out;
  -ms-transition: all var(--tempo-menu) ease-in-out;
  -o-transition: all var(--tempo-menu) ease-in-out;
  transition: all var(--tempo-menu) ease-in-out;
}

.menu_btn::before,
.menu_btn::after {
  content: '';
  position: absolute;
}

.menu_btn::before {
  bottom: 7px;
}

.menu_btn::after {
  top: 7px;
}

.menu.open .menu_btn {
  transform: translateX(-15px);
  background: transparent;
}

.menu.open .menu_btn::before {
  transform: translate(15px, 7px) rotate(35deg);
}

.menu.open .menu_btn::after {
  transform: translate(15px, -7px) rotate(-35deg);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--rosa-neon);
  width: 100%;
  -webkit-transition: all var(--tempo-menu) ease-in-out;
  -moz-transition: all var(--tempo-menu) ease-in-out;
  -ms-transition: all var(--tempo-menu) ease-in-out;
  -o-transition: all var(--tempo-menu) ease-in-out;
  transition: all var(--tempo-menu) ease-in-out;
  transform: translateX(-100%);
}

nav.open {
  transform: translateX(0);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--purple-neon);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--blue-neon);
}

nav a::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  background: var(--blue-neon);
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  -webkit-transition: all var(--tempo-menu) ease-in-out;
  -moz-transition: all var(--tempo-menu) ease-in-out;
  -ms-transition: all var(--tempo-menu) ease-in-out;
  -o-transition: all var(--tempo-menu) ease-in-out;
  transition: all var(--tempo-menu) ease-in-out;
}

nav a:hover::after {
  transform: scale(0.2, 1);
}

@media screen and (min-width: 700px) {
  .portfolio img {
    float: left;
  }

  .menu {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .logo {
    margin-right: 4rem;
  }

  nav {
    all: unset;
    display: flex;
    padding-right: 3rem;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    position: relative;
  }

  nav a::after {
    top: 1.125em;
  }

  nav a:hover::after {
    transform: scale(1, 1);
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
}